<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>レビュー検索システム</title>
    <link rel=stylesheet href="{{ url_for('static', filename='css/A01.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/A01.js') }}"></script>
</head>

<body>
    <!-- {% if message %}
        <p>{{ message }}</p>
    {% endif %} -->
 

    <form method="post" action="/A01">
        <div class="search-container">
            <h1 id="title">レビュー検索システム</h1>
                <!--エラーメッセージの表示-->
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash-messages">
                            {% for message in messages %}
                                <p class="flash-message">{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

            <div class="instructions">
               ✔️URLを入力してください   <span class="required">【必須】</span>
            </div>
            <div class="search-bar">
                <i class="icon">&#x1F50D;</i>
                <input type="url" id="urlInput" name="urlInput" value="" placeholder="URLを入力してください" maxlength="2083">
            </div>
            <div class="instructions">
                ✔️表示するレビューの条件を指定してください
            </div>
            <div class="filter-box">
                <div class="input-group">
                    <label for="startDate">期間<span class="required">【必須】</span></label>
                    <input type="date" id="startDate" name="startDate">
                    <span>〜</span>
                    <input type="date" id="endDate" name="endDate">
                </div>
                <div class="checkbox-group">
                    <label for="category">種別<span class="required">【必須】</span></label>
                    <div>
                        <input type="checkbox" id="positiveOpinion" name="positiveOpinion" checked>
                        <label for="positiveOpinion">ポジティブな意見</label>
                    </div>
                    <div>
                        <input type="checkbox" id="negativeOpinion" name="negativeOpinion" checked>
                        <label for="negativeOpinion">ネガティブな意見</label>
                    </div>
                </div>
                <div class="input-group">
                    <label for="keyword">キーワード指定</label>
                    
                    <input type="text" id="keyword" name="keyword" value="" maxlength="30">
                </div>
            </div>
            <input type="submit" value="レビュー検索" class="search-button" id="searchButton" name="searchButton">
        </div>
    </form>
</body>

</html>
