<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一覧画面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/B01.css') }}">
    <script>
        const reviewsJson = `{{ reviews|safe  }}`;
        const reviews = JSON.parse(reviewsJson);
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/B01.js') }}"></script>
</head>

<body>
    <h1>レビュー一覧</h1>

    <!-- アプリ情報のテーブル -->
    <div>
        <table id="app-info-table">
            <tr>
                <td>アプリ名：</td>
                <td>{{appName}}</td>
            </tr>
            <tr>
                <td>期間：</td>
                <td>{{start_date}}～{{end_date}}</td>
            </tr>
            <tr>
                <td>種別：</td>
                <td>{{sentiment}}</td>
            </tr>
            <tr>
                <td>キーワード指定：</td>
                <td>{{keyword}}</td>
            </tr>
        </table>
    </div>
    
    <!-- レビュー表示用のテーブル -->
    <div>
        <table id="review-table" border="1" style="border-collapse: collapse">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>投稿日時</th>
                    <th>種別</th>
                    <th>要約</th>
                    <th>原文</th>
                </tr>
            </thead>
            <tbody>
                <!-- レビュー内容はJavaScriptによってここに挿入されます -->
            </tbody>
        </table>

        {% if errorMessage_list %}
            <p>{{errorMessage_list}}</p>
        {% endif %}
    </div>
 
    <!-- エラーメッセージを表示するための空のdiv -->
    <div id="errorMessage"></div>

    <!-- フォーム部分 -->
    <form method="post" action="/B01">
        <input type="submit" value="前へ" name="backpageButton" class="backpageButton">
        <span>ページ目</span>
        <input type="submit" value="次へ" name="nextpageButton" class="nextpageButton">
    </form>

    <form method="post" action="/A01_clear_session_and_redirect" id="backToSearchForm">
        <!-- 検索画面に戻るボタン -->
        <input type="submit" value="検索画面に戻る" name="clearSessionButton" id="backToSearchSubmit">
    </form>
    <!-- ページ読み込み時にレビューを表示 -->
    <script>
        window.onload = function() {
            displayReviews();
        };
        // フォーム送信時に確認ダイアログを表示する処理
        document.getElementById('backToSearchForm').onsubmit = function(event) {
            if (document.activeElement.name === 'clearSessionButton') {
                const confirmClear = confirm("レビュー一覧表のデータがクリアされます。よろしいですか?");
                if (!confirmClear) {
                    event.preventDefault();  // キャンセル時はフォーム送信を中断
                }
            }
        };
    </script>
</body>
</html>
