<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一覧画面</title>
    <link rel=stylesheet href="{{ url_for('static', filename='css/B01.css') }}">
    <script type=text/javascript src="{{ url_for('static', filename='js/B01.js') }}"></script>
</head>

<body>
    <h1>レビュー一覧</h1>
    <div>
        <table border="1">
            <tr>
                <td>アプリ名：</td>
                <td>xxxxxxxxxx</td>
            </tr>
            <tr>
                <td>期間：</td>
                <td>xxxxxxxxxx</td>
            </tr>
            <tr>
                <td>種別：</td>
                <td>{{session['flag']}}</td>
            </tr>
            <tr>
                <td>キーワード指定：</td>
                <td>xxxxxxxxxx</td>
            </tr>
        </table>
        
    <form method="post" action="/B01">
        <div>スイッチをオンにした場合、選択行の内容が原文に置き換わります</div>
        <div>一括操作：<input type="checkbox"></div>        

        <table border="1">
            <th>No.</th>
            <th>投稿日時</th>
            <th>+/-</th>
            <th>内容</th>
            <th>&emsp;&emsp;</th>
        </table>
    </form>
        
        
    </div>   

</body>
</html>