<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一覧画面</title>
    <link rel=stylesheet href="{{ url_for('static', filename='css/B01.css') }}">
    <!-- <script>
        // JSONデータをそのまま受け取る（文字列として）      
        const reviewsJson = `{{ reviews|safe }}`;
        const reviews = JSON.parse(reviewsJson);
    </script>  -->
    <!-- <script type=text/javascript src="{{ url_for('static', filename='js/B01.js') }}"></script> -->
</head>


<body>
    <h1>レビュー一覧</h1>
    <div>
        <table>
            <tr>
                <td>アプリ名：</td>
                <td>{{appName}}</td>
            </tr>
            <tr>
                <td>期間：</td>
                <td>{{start_date}}～{{end_date}}</td>
            </tr>
            <tr>
                <td>種別：</td>
                <td>{{sentiment}}</td>
            </tr>
            <tr>
                <td>キーワード指定：</td>
                <td>{{keyword}}</td>
            </tr>
        </table>
        
    <form method="post" action="/B01">
        <p>スイッチをオンにした場合、選択行の内容が原文に置き換わります</p>
        <div>一括操作：<input type="checkbox"></div>        

        <table border="1">
            <th>No.</th>
            <th>投稿日時</th>
            <th>+/-</th>
            <th>内容</th>
            <th>&emsp;</th>
        </table>

        {% if errorMessage_list %}
            <p>{{errorMessage_list}}</p>
        {% endif %}

        <input type="submit" value="前へ" name="backpageButton">
        <span>ページ目</span>
        <input type="submit" value="次へ" name="nextpageButton">
    </form>
    </div> 
    
    <!-- FlaskからJavaScriptにデータを渡す -->
    <!-- <script>
        // // JSONデータをそのまま受け取る（文字列として）
        // const reviewsJson = `{{ reviews|tojson }}`;

        // try {
        //     // JSON文字列をオブジェクトに変換
        //     const reviews = JSON.parse(reviewsJson);

        //     // レビューが正常に受け取れたことを確認するためのダイアログ表示
        //     if (reviews.length > 0) {
        //         alert('レビューを受け取りました: ' + reviews.length + '件');
        //     } else {
        //         alert('レビューがありません。');
        //     }

        //     // デバッグ用にコンソールに出力
        //     console.log(reviews);
        // } catch (error) {
        //     console.error('JSON parsing error:', error);
        // }
    </script> -->
    <script>
        // サーバーから埋め込まれたJSONデータをパースする
        const reviewsJson = `{{ reviews|safe }}`;
        const reviews = '{{ user_name }}';
        // const reviews = JSON.parse(reviewsJson);  // 正しい形式でJSONをパース
    </script>
    <script src="{{ url_for('static', filename='js/B01.js') }}"></script>
</body>
</html>